<form>
card no: <input type="text" id="card_no"><br />
expire: <input type="text" id="expire"><br />
security code: <input type="text" id="cvv"><br />
<button id="submit">submit</button>
</form>
<script>
  $("#submit").click(function(){
    const card = {
      card_no : $("#card_no").val(),
      expire : $("#expire").val(),
      security_code: $("#cvv").val()
    }
    let fincode = Fincode('<%= ENV['FINCODE_PUBLIC_KEY'] %>')
    fincode.setTenantShopId('<%= ENV['TENANT_ID'] %>')
    fincode.tokens(card,
        function (status, response) {
            if (200 === status) {
                console.log(response);
                $.post('/bind_cards',
                  response,
                  function(data, status, jqXHR) {// success callback
                    alert("credit_card_id: " + data["credit_card_id"]);
                  }
                )
            } else {
                alert("status code: " + status);// リクエストエラー時の処理
            }
        },
        function () {
            alert("generate token error");// 通信エラー処理
        }
    );
  });
</script>
